<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Afeka Facebook</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a href="#">Public feed</a></li>
        <li routerLinkActive="active"><a href="#">Privet feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="dummycondition">
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Register</a></li>
        </ng-template >
      </ul>
    </div>


  </div>
</nav>
