<div class="row">
  <div class="col-xs-12">
    <p>{{post.postId}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div (click)="onImgOpen()"style="cursor: pointer" class = "thumbnail">
    <img [src]="postImg" alt="" class="img-responsive">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <div class="btn btn-success" style="cursor: pointer">Like</div>
  </div>
  <div class="col-xs-4">
    <div class="btn btn-primary" style="cursor: pointer">Comments</div>
  </div>
</div>
