<div class="row">
  <div class="col-xs-12">
    <form
      [formGroup]="userLoginForm">
      <!--(submit)="onSubmit()"-->
      <div class="row">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-success"
            [disabled]="!userLoginForm.valid"
            (click)="onLogin()">Login</button>
          <button
            type="button"
            class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">User Name</label>

            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"

            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
